nav div a {
    text-decoration: none;
    height:55;
    padding: 20;
    display: block;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 80px auto 0px;
}

.tamano-2{
    width:150px;
    height:200px;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 150px ) ;
    grid-template-rows: repeat(2, [row] auto  );
    background-color: #fff;
    color: #444;
  }
